# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Installer/log files
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE directories
.vscode/
.idea/

# dotenv environment variables
.env
.env.*.local

# Completed scans output
completed_scan/
logs/

# Runs directory
runs/

# Log files
*.log
error.log

# OS files
.DS_Store
Thumbs.db

# Local .terraform directories (where modules & providers are installed)
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log (if Terraform crashes)
crash.log

# Ignore override files (can contain sensitive overrides)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI config (usually in your home dir)
.terraformrc
terraform.rc

# Ignore variable definitions (often contain secrets)
# *.tfvars
*.tfvars.json

# Terraform plan output (if you save it to a file)
*.tfplan

# Backup files
*.backup

# Terraform lock
.terraform.lock.hcl