.sortColumn {
  cursor: pointer;
}

.sortColumnIcon {
  position: relative;
}

.sortColumnIcon:after {
  position: absolute;
  right: 0;
  content: "";
  height: 0;
  width: 13px;
  border: 6px solid transparent;
  background: 0 0;
  border-radius: 3px;
  opacity: 1;
  pointer-events: none;
}

.sortDown .sortColumnIcon,
.sortUp .sortColumnIcon {
  padding-right: 1.25rem;
}

.sortDown .sortColumnIcon:after {
  bottom: -3px;
  border-top: 7px solid;
}

.sortUp .sortColumnIcon:after {
  bottom: 3px;
  border-bottom: 7px solid;
}
